/** IBM  Assignment using  CSS  **/

.section_1 {
    background-color: rgb(230, 204, 204);
    margin: 0px 100px;
    padding: 30px 100px;
    border-radius: 10px;
}
.weight {
    font-weight: 900;
}

.h_1 {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
}
.head_icon {
    text-align: right;
    height: 20px;
    width: auto;
}
.icon_right {
    margin-left: 400px;
}

.person_content {
    border-radius: 10px;
    margin-top: 23px;
    box-shadow: 0 0 10px greenyellow;
    overflow: hidden;
}
.content_1 {
    background-color:grey;
    max-height: 190px;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
}
.person_img {
    border: 4px solid #fff;
    width: 100px;
    height: auto;
}
.person_detail {
    margin-left: -30px;
}
.person_name {
    font-size: 22px;
    font-weight: 900;
}
.person_as {
    font-size: 10px;
    font-weight: 900;
    margin: 7px 0 14px 0;
}
.person_button {
    display: inline;
}
#down_btn {
    background-color: blue(233, 236, 231);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 13px;
}
#hire_btn {
    background-color: rgb(18, 167, 231);
    border-radius: 50px;
    font-size: 13px;
}


.content_2 {
    padding: 25px;
}
.about_me {
    font-size: 22px;
    font-weight: 900;
    margin: 15px 0;
}
.passage {
    font-size: 11px;
    font-weight: 900;
}
.person_property, .person_value {
    font-size: 11px;
    margin-top: 30px;
}

.content_3 {
    padding: 25px;
    font-size: 12px;
    font-weight: 500;
}
.skill_head {
    font-size: 22px;
    margin: 20px 0 0 25px;
}
.vol_2, .vol_3 {
    margin-top: 10px;
}
